<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<header>
    <nav class="navbar navbar-light bg-light">
        <link crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              rel="stylesheet">
        <link rel="stylesheet"/>
        <style>
            body {
                background-color: Beige;
            }
            label{
               color: Black;
            }
            h1{
                text-align: center;
            }
            input{
                position: relative;
                left: 1000px;
                top: -40px;
            }

        </style>
        <a class="navbar-brand" style="color:Maroon;">Добро пожаловать, Вилена!</a>
     </nav>
</header>





{% endblock %}